@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:  rgb(242, 235, 227);
}

.container{
    background-color: hsl(0, 0%, 100%);
    height: 550px;
    width: 700px;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 1rem;

}

.container img{
    width: 100vh;
    width: 350px;
    height: 550px;

    border-radius: 1rem 0 0 1rem;
    
}

.cartao{
    background-color: hsl(0, 0%, 100%);

    width: 350px;
    height: 550px;

    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(0%, 50%);

    border-radius: 0 1rem 1rem 0;
}

.perfume{
    color: #6C7289;

    letter-spacing: 5px;
    font-variant: small-caps;

    padding-top: 40px;
    padding-left: 30px;
}

h1{
    font-family: 'Fraunces', serif;

    padding-top: 20px;
    padding-left: 30px;
    
    font-weight:  700;
    font-size: 2.9em;
    line-height: 1;

}

.descricao{
    font-family: 'Montserrat', sans-serif;

    color: #6C7289;

    padding-top: 25px;
    padding-left: 30px;
    padding-right: 25px;

    max-width: 500px;
    font-size: 1em;

    line-height: 1.6em;
}

.desconto{
    color: hsl(158deg, 36%, 37%);

    font-size: 2.9em;
    margin: 0 0 20px;

    padding-left: 30px;
    padding-top: 20px;

    font-weight: 900;
}

.valor{
    font-size: 20px;
    padding-left: 10px;

    color: #6C7289;
    font-weight: 100;
}

.botao{
    background-color: hsl(158deg, 36%, 37%);
    color: #ffffff;

    padding: 14px 30px;
    text-align: center;

    border-radius: 8px;
    width: 70%;
    font-weight: 700;
    
    margin-top: 40px;
    cursor: pointer;
    position: absolute;

    left: 50%;

    transform: translate(-50%, -50%);
    
}

footer{
    position: absolute;

    text-align: center;

    bottom: 0;
    left: 50%;

    transform: translate(-50%);
}

.botao:hover{
    background-color: rgb(18, 95, 68);
    
}





